a {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid #0055f3e3;
    border-radius: 5px;
    background: #FFF;
    margin: 5px 0px;
    color: #0055f3e3;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

a:hover, a:active {
    text-decoration: none;
    color: #FFF;
    background-color: #0055f3e3;
}

a > span {
    display: flex;
    position: relative;
    margin: 0 auto;
}