button {
    color: honeydew;
    font-weight: 300;
    background-color: #0055f3e3;
    margin: 5px 0;
    font-size: 19px;
    padding: 5px 0px;
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 2px 5px #00000085;
}