button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: honeydew;
    font-weight: 300;
    background-color: #0055f3e3;
    margin: 6px 0;
    font-size: 19px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 2px 5px #00000085;
}

button > span {
    display: flex;
    position: relative;
    margin: 0 auto;
}